body 
  cursor url('1.cur'),default
a 
  &:hover 
    cursor url('2.cur'),pointer
.ipcs {
  float:left;
  bottom: 0px;
  right:0px;
  left:0px;
  position:fixed;
  background-color: rgb(255, 255, 255) ;   
  font-size:  10px ;
  padding: 0px;
  text-align: center;
  z-index:999;
  margin: 0 auto;
}
